<h2>Live Config</h2>

<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label">Source</span>
      <span ng-if="ctrl.liveDatasources" class="gf-form-select-wrapper">
        <select
          class="gf-form-input gf-size-auto"
          ng-model="ctrl.appModel.jsonData.datasource"
          ng-options="f as f for f in ctrl.liveDatasources"
        ></select>
      </span>
      <span ng-if="!ctrl.liveDatasources">
        TODO: create a Live Datasource!
      </span>
    </div>
  </div>
</div>
